<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="mybatis.ItemsVO" alias="items"/>
		<typeAlias type="mybatis.MarketsVO" alias="markets"/>
		<typeAlias type="mybatis.LaisVO" alias="lais"/>
	</typeAliases>
	<environments default="multigo">
		<environment id="multigo">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
				<property name="username" value="MULTIGO"/>
				<property name="password" value="MULTI"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mybatis/items-mapping.xml"/>
		<mapper resource="mybatis/markets-mapping.xml"/>
		<mapper resource="mybatis/lais-mapping.xml"/>
	</mappers>
</configuration>
